body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #ff00c8;
  }
  
  button {
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    border-radius: 4px;
    border: none;
    background: #e600ff; 
    color: #fff;
    cursor: pointer;
  }